* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .app {
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', Tahoma, Arial, sans-serif;
  font-size: 15px;
}

@import "./header.scss";
@import "./error.scss";

@import "./location/list.scss";
@import "./location/details.scss";
